<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Ville</th>
            <th scope="col">Code postal</th>
            <th scope="col">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i < users.length; i++) { %>
        <tr>

            <td><%= i %></td>
            <td><%= users[i].name %></td>
            <td><%= users[i].foreName %></td>
            <td><%= users[i].city %></td>
            <td><%= users[i].zip %></td>
            <td><button id="del">Delete</button></td>
    
    
        </tr>
        <% } %>
    </tbody>
</table>

</html>